.footer-fab {
  bottom: max(1rem, calc(env(safe-area-inset-bottom) + 0.5rem));
  right: max(1rem, calc(env(safe-area-inset-right) + 0.5rem));
}

@media (min-width: 40rem) {
  .footer-fab {
    bottom: max(2rem, calc(env(safe-area-inset-bottom) + 0.5rem));
    right: max(2rem, calc(env(safe-area-inset-right) + 0.5rem));
  }
}
